html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; -webkit-appearance: none; border-radius: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a { text-decoration: none; }

@font-face { font-family: "ALSRubl"; src: url("fonts/ALSRubl.eot"); src: url("fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("fonts/ALSRubl.woff") format("woff"), url("fonts/ALSRubl.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "RobotoSlab Bold"; src: url("fonts/RobotoSlab-Bold.eot"); src: url("fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoSlab-Bold.woff") format("woff"), url("fonts/RobotoSlab-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto Italic"; src: url("fonts/roboto-italic.eot"); src: url("fonts/roboto-italic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-italic.woff") format("woff"), url("fonts/roboto-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "RobotoSlab Regular"; src: url("fonts/robotoslab-regular.eot"); src: url("fonts/robotoslab-regular.eot?#iefix") format("embedded-opentype"), url("fonts/robotoslab-regular.woff") format("woff"), url("fonts/robotoslab-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto Regular"; src: url("fonts/roboto-regular.eot"); src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular.woff") format("woff"), url("fonts/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto Bold"; src: url("fonts/roboto-bold.eot"); src: url("fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold.woff") format("woff"), url("fonts/roboto-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "RobotoSlab Thin"; src: url("fonts/robotoslab-thin.eot"); src: url("fonts/robotoslab-thin.eot?#iefix") format("embedded-opentype"), url("fonts/robotoslab-thin.woff") format("woff"), url("fonts/robotoslab-thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, .heading { font-family: "RobotoSlab Bold", Arial, sans-serif; font-size: 29.17px; display: block; line-height: 1.2; color: #2d2d2a; text-transform: uppercase; margin-bottom: 20px; padding-top: 5px; }
@media only screen and (max-width: 480px) { h1, .heading { font-size: 24px; } }

h2 { font-family: "RobotoSlab Bold", Arial, sans-serif; font-size: 20.83px; line-height: 1; color: #2d2d2a; }
@media only screen and (max-width: 480px) { h2 { font-size: 18px; } }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.input { width: 100%; padding: 14px 28px; border: 2px solid white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Roboto Regular", Arial, sans-serif; font-size: 20.83px; letter-spacing: 0.025em; color: #222222; background: white; line-height: 1.3; }
.input:-ms-input-placeholder { font-family: "Roboto Italic", Arial, sans-serif; }
.input:-moz-placeholder { font-family: "Roboto Italic", Arial, sans-serif; }
.input::-moz-placeholder { font-family: "Roboto Italic", Arial, sans-serif; }
.input::-webkit-input-placeholder { font-family: "Roboto Italic", Arial, sans-serif; }
.input::placeholder { font-family: "Roboto Italic", Arial, sans-serif; }
.input_amount { padding: 16px 70px 16px 30px; }
.input.error { border-color: #ff6b6b; background: #ffdede; }

.input-wrap { position: relative; display: block; }
.input-wrap .placeholder { position: absolute; top: 50%; right: 25px; margin-top: -10px; font-family: "Roboto Italic", Arial, sans-serif; font-size: 20.83px; letter-spacing: 0.025em; color: #222222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; line-height: 20px; }

.input-error { font-family: "RobotoSlab Regular", Arial, sans-serif; font-size: 16.67px; line-height: 1.2; position: absolute; top: 100%; right: -60px; padding: 7px 17px 8px; color: white; background: #ff6b6b; }
@media only screen and (max-width: 600px) { .input-error { right: -20px; } }
@media only screen and (max-width: 480px) { .input-error { font-size: 14px; } }
.input-error:before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 0 0 7px 11px; border-color: transparent transparent #ff6b6b transparent; position: absolute; right: 95px; bottom: 100%; }

.search { position: relative; border: 2px solid white; border-top: none; border-right: none; display: inline-block; vertical-align: top; margin-bottom: 14px; width: 100%; max-width: 330px; }
.search__keyword { color: white; width: 100%; padding: 6px 20px 9px 48px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 20.83px; background: none; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; transition: opacity 0.2s linear; font-family: "Roboto Regular", Arial, sans-serif; color: #222222; }
.search__keyword:-ms-input-placeholder { color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=22); opacity: 0.22; font-family: "Roboto Italic", Arial, sans-serif; }
.search__keyword:-moz-placeholder { color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=22); opacity: 0.22; font-family: "Roboto Italic", Arial, sans-serif; }
.search__keyword::-moz-placeholder { color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=22); opacity: 0.22; font-family: "Roboto Italic", Arial, sans-serif; }
.search__keyword::-webkit-input-placeholder { color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=22); opacity: 0.22; font-family: "Roboto Italic", Arial, sans-serif; }
.search__keyword::placeholder { color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=22); opacity: 0.22; font-family: "Roboto Italic", Arial, sans-serif; }
.search__btn { background: url('../img/icons-s4bbf79b441.png') 0 -389px no-repeat; width: 18px; height: 18px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65); opacity: 0.65; position: absolute; top: 11px; left: 15px; }

.search_dark .search__keyword { color: #222222; }
.search_dark .search__keyword:-ms-input-placeholder { color: #222222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.search_dark .search__keyword:-moz-placeholder { color: #222222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.search_dark .search__keyword::-moz-placeholder { color: #222222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.search_dark .search__keyword::-webkit-input-placeholder { color: #222222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.search_dark .search__keyword::placeholder { color: #222222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.btn { border: 1px solid white; font-family: "RobotoSlab Bold", Arial, sans-serif; line-height: 1.13; font-size: 20.83px; letter-spacing: 0.05em; color: #2d2d2a; display: inline-block; text-transform: uppercase; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; position: relative; text-align: center; padding: 24px 55px 23px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn:active { top: 1px; }
.btn-yellow { background: #fcff00; }
.btn-yellow:hover { background: #edf000; }
.btn-orange { background: #ff5325; color: white; }
.btn-orange:hover { background: #ff4716; }
.btn-blue { background: #3ab6bd; color: white; }
.btn-blue:hover { background: #36abb1; }

.spinner-wrap { position: relative; display: inline-block; }

.input__spinner { padding: 16px 40px 16px 30px; width: 148px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 20.83px; letter-spacing: 0.025em; font-family: "Roboto Regular", Arial, sans-serif; line-height: 1.3; }
@media only screen and (max-width: 480px) { .input__spinner { width: 120px; } }

.ui-spinner-up, .ui-spinner-down { position: absolute; right: 0; width: 40px; height: 27px; text-align: center; font-size: 0; cursor: pointer; text-align: right; }
.ui-spinner-up:before, .ui-spinner-down:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.ui-spinner-up .ui-icon, .ui-spinner-down .ui-icon { font-size: 0px; display: block; }
.ui-spinner-up .ui-button-text, .ui-spinner-down .ui-button-text { margin-right: 24px; }
@media only screen and (max-width: 480px) { .ui-spinner-up .ui-button-text, .ui-spinner-down .ui-button-text { margin-right: 15px; } }
.ui-spinner-up .ui-button-text, .ui-spinner-down .ui-button-text { width: 11px; height: 6px; display: inline-block; }

.ui-spinner-up { top: 0; }
.ui-spinner-up .ui-button-text { vertical-align: bottom; }
.ui-spinner-up .ui-icon { width: 0px; height: 0px; border-style: solid; border-width: 0 5.5px 6px 5.5px; border-color: transparent transparent #101010 transparent; }

.ui-spinner-down { bottom: 0; }
.ui-spinner-down .ui-button-text { vertical-align: top; }
.ui-spinner-down .ui-icon { width: 0px; height: 0px; border-style: solid; border-width: 6px 5.5px 0 5.5px; border-color: #101010 transparent transparent transparent; }

.ui-spinner { position: relative; display: inline-block; }

.select { position: relative; text-align: center; font-size: 0; cursor: pointer; width: 100%; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; text-align: left; background: white; margin-bottom: 20px; }
.select:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.select i { width: 0px; height: 0px; border-style: solid; border-width: 6px 5.5px 0 5.5px; border-color: #101010 transparent transparent transparent; position: absolute; top: 50%; right: 25px; margin-top: -3px; }

.select__text { position: relative; display: block; vertical-align: middle; padding: 16px 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Roboto Italic", Arial, sans-serif; font-size: 20.83px; letter-spacing: 0.025em; color: #222222; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; line-height: 1.3; }
.select__text.is-active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; font-family: "Roboto Regular", Arial, sans-serif; }

.select__list { position: absolute; display: none; top: 100%; left: 0; right: 0; z-index: 100; overflow: hidden; }
.select__list li { cursor: pointer; padding: 10px 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Roboto Italic", Arial, sans-serif; font-size: 20.83px; letter-spacing: 0.025em; color: #222222; background: white; border-top: 1px solid #e6e6e6; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.select__list li:hover { background: #e6e6e6; }

html, body { height: 100%; }

.out { width: 100%; min-width: 320px; height: auto; min-height: 100%; margin-bottom: -57px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 100px 10px 0; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-attachment: fixed; }
@media only screen and (max-width: 768px) { .out { padding: 30px 10px 0; } }
.out_main { background-image: url(../img/main_mini.jpg); }
.out_all-services { background-image: url(../img/all-service_mini.jpg); }

.inner { width: 100%; max-width: 1170px; margin: 0 auto; }

.push { height: 57px; }

.header { position: relative; border-bottom: 2px solid white; }

.logo { margin-right: 20px; float: left; width: 125px; height: 88px; border: 3px solid white; text-align: center; font-size: 0; }
.logo:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.logo img { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 1024px) { .logo { float: none; display: block; margin: 0 auto 20px; } }
@media only screen and (max-width: 768px) { .logo { display: inline-block; } }

.nav { overflow: hidden; border: 1px solid white; font-size: 0px; display: table; margin-bottom: -2px; }
@media only screen and (max-width: 768px) { .nav { position: absolute; display: block; z-index: -1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; -moz-transition: visibility 0.4s linear, opacity 0.4s linear; -o-transition: visibility 0.4s linear, opacity 0.4s linear; -webkit-transition: visibility 0.4s linear, opacity 0.4s linear; transition: visibility 0.4s linear, opacity 0.4s linear; clear: both; } }
@media only screen and (max-width: 768px) { .nav.is-open { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; position: relative; z-index: 5; margin: 0 auto -2px; max-width: 500px; } }
.nav a { border: 1px solid white; font-size: 15.83px; line-height: 1.27; font-family: "RobotoSlab Bold", Arial, sans-serif; color: white; text-transform: uppercase; padding: 33px 30px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7610afb5,endColorstr=#7610afb5); background: rgba(16, 175, 181, 0.76); width: 25%; display: table-cell; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
@media only screen and (max-width: 768px) { .nav a { display: block; width: 100%; padding: 23px 20px; }
  .nav a br { display: none; } }
.nav a:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7611bdc3,endColorstr=#7611bdc3); background: rgba(17, 189, 195, 0.76); }
.nav a.is-active { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4010afb5,endColorstr=#4010afb5); background: rgba(16, 175, 181, 0.4); }
.nav a.is-active:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4011bdc3,endColorstr=#4011bdc3); background: rgba(17, 189, 195, 0.4); }

.nav_btn { margin-top: 30px; width: 30px; border: 4px solid white; border-left: none; border-right: none; padding: 7px 0; background: none; display: none; position: relative; top: 100%; -moz-transition: -moz-transform 0.1s; -o-transition: -o-transform 0.1s; -webkit-transition: -webkit-transform 0.1s; transition: transform 0.1s; }
.nav_btn.is-active { transform: scale(1.2); }
@media only screen and (max-width: 768px) { .nav_btn { display: block; float: right; } }
.nav_btn span { width: 100%; height: 4px; background: white; display: block; }

.container { padding: 75px 0 75px 0; *zoom: 1; font-size: 0px; clear: both; }
.container:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 768px) { .container { padding: 40px 0 40px; } }

.main { display: inline-block; vertical-align: top; width: 41.5%; max-width: 485px; padding: 0 41px 23px 0; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }
.main_mod:before { position: absolute; top: 14px; right: 0; bottom: 0; width: 1px; content: ""; background: rgba(255, 255, 255, 0.44); }
@media only screen and (max-width: 980px) { .main_mod:before { top: auto; bottom: 0; right: 0; left: 0; width: auto; height: 1px; } }
@media only screen and (max-width: 1024px) { .main { padding: 0 25px 23px 0; } }
@media only screen and (max-width: 980px) { .main { width: 100%; display: block; margin: 0 auto 30px; padding: 0 0 30px 0; float: none; } }
.main__inner { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5010afb5,endColorstr=#5010afb5); background: rgba(16, 175, 181, 0.5); padding: 22px 24px 47px 20px; text-align: right; }
.main__inner_mod { padding-bottom: 19px; }
@media only screen and (max-width: 480px) { .main__inner { padding: 20px 20px 25px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; } }
.main__inner .input-wrap { margin-bottom: 20px; }
.main__field { margin-bottom: 19px; text-align: left; }
@media only screen and (max-width: 480px) { .main__field { margin-bottom: 5px; } }
.main__footer { text-align: center; }
.main__footer p { font-size: 20.83px; font-family: "RobotoSlab Bold", Arial, sans-serif; color: white; }
.main__footer p span { font-size: 29.17px; padding-left: 15px; display: inline-block; }
.main__footer p span i { font-family: "ALSRubl", Arial, sans-serif; font-size: 20px; font-style: normal; margin-left: 3px; }
.main__title, .main__commission { font-size: 16.67px; color: white; font-family: "RobotoSlab Bold", Arial, sans-serif; text-transform: uppercase; margin-bottom: 5px; display: block; text-align: left; }
.main__commission { text-transform: none; margin-bottom: 0; }
.main__form { padding-bottom: 25px; }
@media only screen and (max-width: 480px) { .main .heading { display: block; text-align: center; } }
.main__logo { float: left; margin: 0 10px 20px 0; width: 72px; height: 72px; font-size: 0px; }
@media only screen and (max-width: 400px) { .main__logo { float: none; display: block; margin: 0 auto 20px; } }
.main__logo img { max-width: 100%; }

.payment { width: 58.5%; display: inline-block; vertical-align: top; padding: 0 0 0 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: right; }
@media only screen and (max-width: 1024px) { .payment { padding: 0 0 0 25px; } }
@media only screen and (max-width: 980px) { .payment { width: 100%; display: block; padding: 0; max-width: 645px; margin: 0 auto; } }
@media only screen and (max-width: 600px) { .payment { text-align: left; } }
@media only screen and (max-width: 400px) { .payment { text-align: center; } }

.topper { font-size: 0.1px; text-align: justify; }
.topper:after { content: ""; width: 100%; display: inline-block; }
.topper .heading { display: inline-block; vertical-align: top; margin-right: 10px; }
@media only screen and (max-width: 480px) { .topper .heading { display: block; text-align: center; } }
.topper_mod { border-bottom: rgba(255, 255, 255, 0.44) 1px solid; }
.topper_step { max-width: 625px; }
@media only screen and (max-width: 1024px) { .topper_step { margin: 0 auto; } }

.service { max-width: 645px; margin-bottom: 36px; }
.service ul { *zoom: 1; overflow: hidden; }
.service ul:after { content: " "; display: table; clear: both; }
.service li { width: 33.3%; height: 170px; float: left; position: relative; }
@media only screen and (max-width: 1024px) { .service li { width: 50%; } }
@media only screen and (max-width: 980px) { .service li { width: 33.3%; } }
@media only screen and (max-width: 600px) { .service li { width: 50%; } }
@media only screen and (max-width: 400px) { .service li { width: 100%; } }
.service li.is-circle:before { content: ""; position: absolute; bottom: -5px; right: -5px; width: 10px; height: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: white; z-index: 1; }
@media only screen and (max-width: 1024px) { .service li.is-circle:before { display: none; } }
.service a { display: block; width: 100%; height: 100%; padding: 25px 0 0 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70ffffff,endColorstr=#70ffffff); background: rgba(255, 255, 255, 0.7); text-align: center; }
.service a:before { content: ""; position: absolute; top: 21px; left: -1px; bottom: 22px; width: 1px; background: white; }
.service a:after { content: ""; position: absolute; right: 22px; top: -1px; left: 22px; height: 1px; background: white; }
.service a:hover span { text-decoration: underline; }
.service a i { display: inline-block; vertical-align: middle; }
.service a i.is-phone { background: url('../img/icons-s4bbf79b441.png') 0 -152px no-repeat; width: 29px; height: 52px; }
.service a i.is-piggy { background: url('../img/icons-s4bbf79b441.png') 0 -214px no-repeat; width: 49px; height: 42px; }
.service a i.is-satellite { background: url('../img/icons-s4bbf79b441.png') 0 -328px no-repeat; width: 48px; height: 51px; }
.service a i.is-rocket { background: url('../img/icons-s4bbf79b441.png') 0 -266px no-repeat; width: 49px; height: 52px; }
.service a i.is-card { background: url('../img/icons-s4bbf79b441.png') 0 -84px no-repeat; width: 49px; height: 35px; }
.service a i.is-shield { background: url('../img/icons-s4bbf79b441.png') 0 -417px no-repeat; width: 41px; height: 52px; }
.service a i.is-signal { background: url('../img/icons-s4bbf79b441.png') 0 -479px no-repeat; width: 48px; height: 41px; }
.service a i.is-call { background: url('../img/icons-s4bbf79b441.png') 0 -22px no-repeat; width: 44px; height: 52px; }
.service a i.is-switch { background: url('../img/icons-s4bbf79b441.png') 0 -608px no-repeat; width: 49px; height: 52px; }
.service a span { display: inline-block; vertical-align: middle; width: 100%; font-size: 16.67px; line-height: 1; font-family: "RobotoSlab Bold", Arial, sans-serif; color: #222222; max-width: 140px; }
@media only screen and (max-width: 400px) { .service a span { max-width: 90%; } }
.service a div { text-align: center; font-size: 0; height: 82px; }
.service a div:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.footer { width: 100%; min-width: 320px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px 4px; background: white; height: 57px; border-top: 2px solid #ffe400; }
@media only screen and (max-width: 768px) { .footer { height: auto; padding: 10px; } }
.footer .inner { text-align: center; font-size: 0; height: 100%; text-align: left; }
.footer .inner:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer span, .footer a { display: inline-block; vertical-align: middle; }
.footer__logo { margin-right: 12px; }
@media only screen and (max-width: 768px) { .footer__logo { margin-bottom: 10px; } }
.footer .copyright { margin-right: 20px; }

.copyright, .footer__link { font-size: 12.5px; font-family: "RobotoSlab Bold", Arial, sans-serif; line-height: 1.2; }
@media only screen and (max-width: 768px) { .copyright, .footer__link { margin-bottom: 10px; } }

.copyright { color: #b3b3b3; }

.footer__link { color: #09aee4; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.footer__link:hover { color: #29c4f7; text-decoration: underline; }

.all-services .topper { text-align: left; margin-bottom: 23px; }
.all-services .heading { margin-right: 25px; color: #2d2d2a; }
@media only screen and (max-width: 480px) { .all-services .heading { display: block; text-align: center; } }

.all-services__block { padding: 14px 20px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70ffffff,endColorstr=#70ffffff); background: rgba(255, 255, 255, 0.7); *zoom: 1; }
.all-services__block:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .all-services__block { margin: 0 -10px; } }

.sidebar { float: left; width: 300px; margin: 0 27px 20px 0; }
@media only screen and (max-width: 800px) { .sidebar { width: 100%; text-align: left; } }
.sidebar li { padding: 0 0 0 25px; }
@media only screen and (max-width: 800px) { .sidebar li { padding: 0; } }
.sidebar a { display: block; border-bottom: 1px solid white; border-right: 2px solid white; text-align: left; padding: 10px 10px 10px 0; line-height: 43px; }
@media only screen and (max-width: 800px) { .sidebar a { line-height: normal; padding: 10px; border: none; border-bottom: 1px solid white; line-height: 1.4; } }
.sidebar a.is-active { border-right: none; }
@media only screen and (max-width: 800px) { .sidebar a.is-active { border-bottom: 1px solid white; } }
.sidebar a.is-active span { font-family: "RobotoSlab Bold", Arial, sans-serif; }
.sidebar a:hover span { text-decoration: underline; }
.sidebar a span { font-size: 17.05px; line-height: 1.21; color: #222222; font-family: "RobotoSlab Regular", Arial, sans-serif; vertical-align: bottom; display: inline-block; max-width: 200px; width: 100%; }

.logos-wrapper { display: block; font-size: 0px; overflow: hidden; }
@media only screen and (max-width: 800px) { .logos-wrapper { clear: both; text-align: center; } }
.logos-wrapper li { margin: 21px; }

.logos { display: inline-block; vertical-align: top; position: relative; }
.logos a:before { -moz-transition: box-shadow 0.3s linear; -o-transition: box-shadow 0.3s linear; -webkit-transition: box-shadow 0.3s linear; transition: box-shadow 0.3s linear; content: ""; position: absolute; top: 1px; right: 1px; left: 1px; bottom: 1px; }
.logos a:hover:before { -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3); }

.pay-service { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70ffffff,endColorstr=#70ffffff); background: rgba(255, 255, 255, 0.7); max-width: 660px; padding: 23px 30px 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 480px) { .pay-service { padding: 11px 20px 11px; margin: 0 auto; } }
.pay-service__field { position: relative; padding: 9px 197px 9px 0; margin-bottom: 10px; }
@media only screen and (max-width: 600px) { .pay-service__field { padding: 9px 180px 9px 0; } }
@media only screen and (max-width: 500px) { .pay-service__field { padding: 9px 0; text-align: center; } }
.pay-service .input { margin-bottom: 20px; }
.pay-service .logos { position: absolute; top: 0; right: 0; }
@media only screen and (max-width: 500px) { .pay-service .logos { position: relative; } }
.pay-service__btns { font-size: 0.1px; text-align: justify; margin: 0 -7px; }
@media only screen and (max-width: 500px) { .pay-service__btns { text-align: center; } }
.pay-service__btns:after { content: ""; width: 100%; display: inline-block; }
.pay-service__btns .btn { display: inline-block; margin: 0 7px 20px; }
@media only screen and (max-width: 480px) { .pay-service .btn-blue { padding: 0 30px; } }

@media only screen and (max-width: 1024px) { .wrap .topper .heading { display: block; text-align: center; margin: 0 0 20px 0; } }
@media only screen and (max-width: 480px) { .wrap .topper .heading { display: block; text-align: center; } }

.payment-wrapper { *zoom: 1; }
.payment-wrapper:after { content: " "; display: table; clear: both; }

.payment-left { max-width: 555px; width: 100%; float: left; }
@media only screen and (max-width: 1024px) { .payment-left { float: none; margin: 0 auto 20px; } }
.payment-left .just { margin: 0 -7px; }
.payment-left .just .btn { margin: 0 7px 20px 7px; }

.payment-right { max-width: 400px; width: 100%; float: right; }
@media only screen and (max-width: 1024px) { .payment-right { float: none; margin: 0 auto 30px; } }

.card { width: 100%; max-width: 555px; padding: 40px 30px 40px; background: #3db8be; border: 1px solid rgba(255, 255, 255, 0.3); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 64px; min-height: 300px; }
@media only screen and (max-width: 420px) { .card { padding: 20px 15px; } }
.card__title { display: block; font-size: 18.17px; line-height: 1.25; font-family: "RobotoSlab Bold", Arial, sans-serif; color: white; font-weight: normal; margin-bottom: 9px; }
.card .input { margin-bottom: 17px; }
.card .spinner-wrapper { margin: 0 14px 17px 0; display: inline-block; vertical-align: top; }
.card__field_small { width: 103px; display: inline-block; vertical-align: top; }
.card__field_middle { max-width: 330px; display: inline-block; vertical-align: top; }
@media only screen and (max-width: 420px) { .card__field_middle { max-width: 100%; } }
.card__bottom { font-size: 0.1px; text-align: justify; }
.card__bottom:after { width: 100%; content: ""; display: inline-block; }
.card__visa { float: right; background: url('../img/icons-s4bbf79b441.png') 0 -670px no-repeat; width: 58px; height: 17px; }

.card_yellow { background: #ffe400; }
.card_yellow .card__title { color: #323232; }
.card_yellow .card__bottom .card__title { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=28); opacity: 0.28; }
.card_yellow .card__field_middle { margin-right: 14px; }
.card_yellow .card__field_small { width: auto; }
.card_yellow .card__field_small .circles { padding: 5px 0 0 7px; }

.circles { font-size: 0px; padding: 5px 0 20px 0; }
.circles__wrap { display: inline-block; margin: 0 5px 0 0; }
.circles i { display: inline-block; width: 6px; height: 6px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #323232; margin: 0 4px 0 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24); opacity: 0.24; }

.just { text-align: justify; font-size: 0.1px; }
.just:after { width: 100%; content: ""; display: inline-block; }
@media only screen and (max-width: 420px) { .just { text-align: center; } }

.info p { font-size: 16.67px; font-family: "RobotoSlab Bold", Arial, sans-serif; line-height: 1.5; color: #222222; }
.info__price { font-size: 66.67px; line-height: 1; color: #222222; font-family: "RobotoSlab Regular", Arial, sans-serif; display: block; -ms-word-break: break-all; word-break: break-all; padding: 20px 0; }
@media only screen and (max-width: 420px) { .info__price { font-size: 60px; } }
.info__price .rub { font-family: "ALSRubl", Arial, sans-serif; font-style: normal; font-size: 48px; }
@media only screen and (max-width: 420px) { .info__price .rub { font-size: 42px; } }
.info__right { margin-left: 10px; }
@media only screen and (max-width: 420px) { .info__right { margin: 0; text-align: center; } }
.info__left { overflow: hidden; max-width: 210px; float: left; width: 100%; }
@media only screen and (max-width: 420px) { .info__left { max-width: 100%; float: none; text-align: center; } }
.info__bottom { clear: both; padding: 7px 0 0 0; }
@media only screen and (max-width: 420px) { .info__bottom { text-align: center; } }
.info .logos { margin-top: 25px; }
@media only screen and (max-width: 420px) { .info .logos { margin: 10px 0 10px; } }
.info__phone { font-size: 22.31px; font-family: "RobotoSlab Bold", Arial, sans-serif; color: #2d2d2a; display: block; padding: 10px 0 0 0; }

.cards { font-size: 0.1px; text-align: justify; margin-bottom: 50px; margin: 0 -10px; *zoom: 1; padding: 10px 0; }
.cards:after { content: " "; display: table; clear: both; }
.cards h2 { text-transform: uppercase; margin-bottom: 35px; text-align: left; display: inline-block; width: 100%; max-width: 555px; }
.cards__left, .cards__right { float: left; width: 50%; padding: 0 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .cards__left, .cards__right { width: 100%; margin: 0 auto; display: block; float: none; max-width: 555px; } }
.cards__left .card, .cards__right .card { display: inline-block; vertical-align: top; width: 100%; text-align: left; }
.cards__left { position: relative; text-align: left; }
.cards__left:before { content: ""; position: absolute; right: 0; top: 0; bottom: 64px; width: 1px; background: rgba(255, 255, 255, 0.44); }
@media only screen and (max-width: 1024px) { .cards__left:before { top: auto; bottom: 32px; left: 0; right: 0; width: auto; height: 1px; } }
.cards__right { text-align: right; }

.amount { margin: 0 auto; max-width: 400px; text-align: center; }
.amount .input { margin-bottom: 49px; }
@media only screen and (max-width: 380px) { .amount .btn { width: 100%; } }

.abroad { padding: 8px 0 0 0; }
.abroad h2 { text-transform: uppercase; margin-bottom: 20px; }
@media only screen and (max-width: 980px) { .abroad h2 { text-align: center; } }
.abroad .main__inner { padding-bottom: 33px; margin-bottom: 31px; }
@media only screen and (max-width: 980px) { .abroad .main__inner { text-align: left; } }
@media only screen and (max-width: 480px) { .abroad .main__inner { padding: 20px 20px 15px 20px; } }
.abroad .main { *zoom: 1; float: left; max-width: 475px; padding-right: 31px; }
.abroad .main:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 980px) { .abroad .main { float: none; margin: 0 auto; padding-right: 0; text-align: center; } }
.abroad .main .btn { float: right; }
@media only screen and (max-width: 980px) { .abroad .main .btn { float: none; } }
.abroad .main .just { margin: 0 -10px; }
@media only screen and (max-width: 480px) { .abroad .main .just { text-align: center; margin: 0 auto; } }
.abroad .main .just .btn { float: none; margin: 0 10px 20px; }
.abroad .main_step { padding: 0; max-width: 445px; width: 100%; }
@media only screen and (max-width: 1024px) { .abroad .main_step { float: none; margin: 0 auto; padding-right: 0; text-align: center; display: block; } }
.abroad .btn-blue { padding: 0 30px; }
@media only screen and (max-width: 480px) { .abroad .btn-blue { padding: 0 30px; } }
@media only screen and (max-width: 1024px) { .abroad_mod h2 { text-align: center; } }

.step { padding: 10px 0 0 0; *zoom: 1; }
.step:after { content: " "; display: table; clear: both; }

.steps { font-size: 0px; }
.steps span { display: inline-block; font-size: 20.83px; padding-right: 8px; }
.steps i { display: inline-block; background: url('../img/icons-s4bbf79b441.png') 0 -582px no-repeat; width: 11px; height: 16px; margin: 0 0 0 -1px; cursor: pointer; position: relative; }
.steps i:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s4bbf79b441.png') 0 -556px no-repeat; width: 11px; height: 16px; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: visibility 0.3s, opacity 0.3s; -o-transition: visibility 0.3s, opacity 0.3s; -webkit-transition: visibility 0.3s, opacity 0.3s; transition: visibility 0.3s, opacity 0.3s; }
.steps i.is-active { background: url('../img/icons-s4bbf79b441.png') 0 -530px no-repeat; width: 11px; height: 16px; }
.steps i.is-active:before { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; visibility: visible; }
.steps i:hover:before { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; visibility: visible; }

.instruction { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70ffffff,endColorstr=#70ffffff); background: rgba(255, 255, 255, 0.7); overflow: hidden; padding: 25px 45px 10px; }
@media only screen and (max-width: 480px) { .instruction { padding: 20px 20px 0; } }
.instruction p, .instruction li { font-size: 20.83px; line-height: 1.2; font-family: "Roboto Regular", Arial, sans-serif; color: #222222; margin-bottom: 25px; }
@media only screen and (max-width: 480px) { .instruction p, .instruction li { font-size: 18px; } }
.instruction p a, .instruction li a { font-family: "Roboto Bold", Arial, sans-serif; color: #1e99c2; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.instruction p a:hover, .instruction li a:hover { color: lightn(#1e99c2, 3%); text-decoration: underline; }

.step_second { max-width: 943px; }
@media only screen and (max-width: 768px) { .step_second { max-width: 440px; margin: 0 auto; } }

.step__inner { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5010afb5,endColorstr=#5010afb5); background: rgba(16, 175, 181, 0.5); font-size: 0.1px; text-align: justify; position: relative; }
.step__inner:after { display: inline-block; width: 100%; content: ""; }
.step__inner:before { content: ""; position: absolute; top: 13px; bottom: 13px; left: 50%; width: 1px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#44ffffff,endColorstr=#44ffffff); background: rgba(255, 255, 255, 0.44); }
@media only screen and (max-width: 768px) { .step__inner:before { display: none; } }
.step__box { width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 32px 20px; display: inline-block; vertical-align: top; max-width: 440px; text-align: left; }
@media only screen and (max-width: 768px) { .step__box { display: block; margin: 0 auto; width: 100%; } }
@media only screen and (max-width: 480px) { .step__box { padding: 20px 20px 10px 20px; } }
.step__box .input { margin-bottom: 20px; }
.step__btns { padding: 21px 0 0 0; text-align: right; }
@media only screen and (max-width: 768px) { .step__btns { text-align: center; } }
.step__btns .btn { margin: 0 0 20px 27px; }
@media only screen and (max-width: 768px) { .step__btns .btn { margin: 0 10px 20px; } }

.step_fourth .step__inner { padding: 40px 40px 15px; }
@media only screen and (max-width: 1200px) { .step_fourth .step__inner { padding: 20px 20px 10px; } }
@media only screen and (max-width: 1024px) { .step_fourth .step__inner { max-width: 595px; margin: 0 auto; padding: 40px 20px 15px; } }
@media only screen and (max-width: 480px) { .step_fourth .step__inner { padding: 20px 10px 10px; } }
.step_fourth .step__inner:before { display: none; }

.step__card { float: left; width: 51%; max-width: 555px; margin-right: 45px; text-align: left; }
@media only screen and (max-width: 1024px) { .step__card { width: 100%; float: none; margin: 0 auto; } }
.step__card .card { margin-bottom: 40px; }
.step__amount { font-size: 20.83px; font-family: "RobotoSlab Bold", Arial, sans-serif; color: white; text-transform: uppercase; }
@media only screen and (max-width: 480px) { .step__amount { font-size: 18px; } }
.step__numbers { font-size: 41.67px; margin-left: 15px; display: inline-block; }
@media only screen and (max-width: 480px) { .step__numbers { font-size: 36px; } }
.step__numbers span { font-size: 33.33px; margin-left: 10px; }
@media only screen and (max-width: 480px) { .step__numbers span { font-size: 28px; } }
.step__info { overflow: hidden; text-align: left; }
@media only screen and (max-width: 1024px) { .step__info { max-width: 555px; margin: 0 auto; padding: 20px 0 0 0; } }
.step__info h2, .step__info p, .step__info li { font-size: 20.83px; color: white; margin-bottom: 0; }
@media only screen and (max-width: 480px) { .step__info h2, .step__info p, .step__info li { font-size: 18px; } }
.step__info h2, .step__info strong { font-family: "RobotoSlab Bold", Arial, sans-serif; font-weight: normal; }
.step__info h2 { text-transform: uppercase; margin-bottom: 12px; }
@media only screen and (max-width: 1024px) { .step__info h2 { text-align: left; } }
.step__info p, .step__info li { font-family: "RobotoSlab Regular", Arial, sans-serif; margin-bottom: 7px; }
.step__info ul { margin-bottom: 30px; }
@media only screen and (max-width: 500px) { .step__info li { margin-bottom: 15px; }
  .step__info li strong { display: block; } }

.text { background: white; padding: 35px 30px 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.text:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 768px) { .text { padding: 25px 20px 20px; } }
.text li { font-size: 20.83px; line-height: 1.2; font-family: "RobotoSlab Bold", Arial, sans-serif; color: #222222; margin-bottom: 25px; }
@media only screen and (max-width: 480px) { .text li { font-size: 18px; } }
.text li a { color: #2abfda; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.text li a:hover { color: #37c3dc; text-decoration: underline; }
.text p, .text h3, .text .back, .text .more { font-size: 20.83px; line-height: 1.2; color: #222222; font-family: "Roboto Regular", Arial, sans-serif; }
@media only screen and (max-width: 768px) { .text p, .text h3, .text .back, .text .more { font-size: 18px; } }
.text p { margin-bottom: 20px; }
.text h3 { text-transform: uppercase; text-align: center; font-family: "Roboto Bold", Arial, sans-serif; margin-bottom: 30px; }
.text h2 { font-family: "Roboto Bold", Arial, sans-serif; margin-bottom: 25px; }
@media only screen and (max-width: 768px) { .text h2 { font-size: 18px; } }
.text .back, .text .more { color: #2abfda; position: relative; font-size: 16.67px; font-family: "RobotoSlab Bold", Arial, sans-serif; display: inline-block; }
@media only screen and (max-width: 768px) { .text .back, .text .more { font-size: 16px; } }
.text .back:hover, .text .more:hover { text-decoration: underline; }
.text .back.back, .text .more.back { padding: 0 0 0 15px; margin-bottom: 30px; }
.text .back.back:before, .text .more.back:before { content: ""; background: url('../img/icons-s4bbf79b441.png') 0 0 no-repeat; width: 7px; height: 12px; position: absolute; top: 50%; left: 0; margin-top: -6px; }
.text .back.more, .text .more.more { float: right; }

.text_mod { max-width: 656px; }

.overlay, .popup-wrapper { position: fixed; top: 0; left: 0; bottom: 0; right: 0; min-width: 320px; z-index: 999; display: block; }

.overlay { background: #278e8f; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=41); opacity: 0.41; }

.popup-wrapper { text-align: center; font-size: 0; padding: 10px; }
.popup-wrapper:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.popup { display: inline-block; vertical-align: middle; width: 100%; max-width: 804px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 45px 40px 50px; background: white; -moz-box-shadow: 0 0 5px rgba(94, 94, 94, 0.65); -webkit-box-shadow: 0 0 5px rgba(94, 94, 94, 0.65); box-shadow: 0 0 5px rgba(94, 94, 94, 0.65); }
@media only screen and (max-width: 480px) { .popup { padding: 25px 20px 30px; } }
.popup__text, .popup__sec { font-size: 20.83px; line-height: 29.17px; color: #2d2d2a; display: block; }
.popup__text { font-family: "RobotoSlab Bold", Arial, sans-serif; margin-bottom: 20px; }
.popup__sec { font-family: "RobotoSlab Regular", Arial, sans-serif; margin-bottom: 30px; }
.popup__numbers { font-size: 89.25px; line-height: 70px; color: #2d2d2a; font-family: "RobotoSlab Thin", Arial, sans-serif; display: block; margin-bottom: 10px; }
.popup .btn { width: 100%; max-width: 306px; }

.pay-success .topper { text-align: center; margin-bottom: 40px; }
.pay-success .topper .heading { margin: 0; }
.pay-success__block { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#72ffffff,endColorstr=#72ffffff); background: rgba(255, 255, 255, 0.72); max-width: 556px; margin: 0 auto 50px; padding: 19px 21px 35px 45px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.pay-success .info .info__right { float: right; }
@media only screen and (max-width: 480px) { .pay-success .info .info__right { float: none; text-align: center; margin-bottom: 20px; } }
.pay-success .info .info__left { padding: 25px 0 0 0; }
@media only screen and (max-width: 480px) { .pay-success .info .info__left { float: none; text-align: center; max-width: 100%; margin-bottom: 20px; } }
.pay-success .info .logos { margin: 0; }
.pay-success .info .info__price { padding: 10px 0 0; }
@media only screen and (max-width: 480px) { .pay-success .info .info__bottom { text-align: center; } }
.pay-success__bottom { text-align: center; }
.pay-success__bottom h4 { font-size: 20.83px; line-height: 1.15; color: white; letter-spacing: 0.05em; font-family: "RobotoSlab Bold", Arial, sans-serif; text-transform: uppercase; margin-bottom: 25px; }
.pay-success__bottom .input-wrap { max-width: 400px; margin: 0 auto 23px; }
